*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.js-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    min-height: 50px;
    width: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}
.js-controls button {
    background: unset;
    border: unset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;
    cursor: pointer;
}
.js-controls button.on {
    background-color: rgb(86, 197, 86);
}
.js-controls button.off {
    background-color: rgb(213, 61, 61);
}
.js-controls button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.js-controls button:active {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.js-gallery,
.js-gallery-html {
    width: 800px;
    height: 800px;
}

:is(.js-gallery, .js-gallery-html) .jsg-main-image {
    width: 100%;
    height: 600px;
    padding: 10px;
    cursor: pointer;
}

:is(.js-gallery, .js-gallery-html) .jsg-main-image img {
    max-width: 100%;
    max-height: 100%;
}

:is(.js-gallery, .js-gallery-html) .jsg-extra-images {
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 5px;
    cursor: grab;
}
:is(.js-gallery, .js-gallery-html) .jsg-extra-images::-webkit-scrollbar {
    display: none;
}
:is(.js-gallery, .js-gallery-html) .jsg-extra-images {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:is(.js-gallery, .js-gallery-html) .jsg-extra-images .jsg-extra-image {
    height: 100%;
}

:is(.js-gallery, .js-gallery-html) .jsg-extra-images .jsg-extra-image img {
    width: auto;
    max-height: 100%;
    padding: 5px;
}

.js-gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.js-gallery-modal .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

.js-gallery-modal .jsg-main-img {
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.js-gallery-modal .jsg-main-img img {
    max-height: 100%;
    max-width: 100%;
}

.js-gallery-modal .jsg-extra-images {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
    height: 20vh;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 5px;
    cursor: grab;
}
.js-gallery-modal .jsg-extra-images::-webkit-scrollbar {
    display: none;
}
.js-gallery-modal .jsg-extra-images {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.js-gallery-modal .jsg-extra-images .jsg-extra-image {
    height: 100%;
}

.js-gallery-modal .jsg-extra-images .jsg-extra-image img {
    height: 100%;
    padding: 5px;
}

.js-gallery-modal .jsg-close-btn {
    position: absolute;
    top: 3vh;
    right: 3vw;
    width: 50px;
    height: 50px;
    cursor: pointer;
}